@charset "utf-8";	/* -*- truncate-lines: t -*- */
/*
 * Copyright © 2011-2014 Akio Kitano All Rights Reserved.
 * Copyright © 2011-2014 Miracreate  All Rights Reserved.
 */
/*
 * 第1ルール: MSゴシック系(「ＭＳ ゴシック」と「ＭＳ Ｐゴシック」)を
 *	      すべてメイリオに置き換えて表示する。
 *	      対象のフォント名を片仮名表記とローマ字表記それぞれで指定したもの
 *	      両方がないと機能しないページがあるけど、
 *	      何故そうなのかは不明。
 */
@font-face { font-family: "MS PGothic";		src: local(Meiryo); }
@font-face { font-family: "ＭＳ Ｐゴシック";	src: local(Meiryo); }
@font-face { font-family: "MS Gothic";		src: local('MeiryoKe_Gothic'), local(Meiryo); }
@font-face { font-family: "ＭＳ ゴシック";	src: local('MeiryoKe_Gothic'), local(Meiryo); }
/* MS UI GothicはMeiryo UIで置き換える。Meiryo UIがなければMeiryoを使う。*/
@font-face { font-family: "MS UI Gothic";	src: local('Meiryo UI'), local(Meiryo); }

/*
 * ユーザの反応がよければ、MS明朝系も対象にする。
 */
@font-face { font-family: "ＭＳ Ｐ明朝";	src: local(Meiryo); }


/*
 * 第2ルール: 以下の(日本語以外向け)フォントで、
 *	      日本語部分がMSゴシック系で表示されるので、
 *	      「日本語部分だけを」Meiryoで置き換える。
 *	      キリル文字などは置き換えない。
 */
@font-face { font-family: Arial;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Arial;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Arial); }
@font-face { font-family: Arial Black;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }	/* できればboldにしたい。*/
@font-face { font-family: Arial Black;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Arial Black); }
@font-face { font-family: calibri;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: calibri;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(calibri); }
@font-face { font-family: Comic Sans MS;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Comic Sans MS;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Comic Sans MS); }
@font-face { font-family: Consolas;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Consolas;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Consolas); }
@font-face { font-family: coparegular;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: coparegular;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(coparegular); }
@font-face { font-family: Courier New;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Courier New;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Courier New); }
@font-face { font-family: Droid Sans;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Droid Sans;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Droid Sans); }
@font-face { font-family: Georgia;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Georgia;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Georgia); }
@font-face { font-family: godboldregular;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: godboldregular;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(godboldregular); }
@font-face { font-family: godcondensedmedium;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: godcondensedmedium;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(godcondensedmedium); }
@font-face { font-family: godregular;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: godregular;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(godregular); }
@font-face { font-family: Helvetica;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Helvetica;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Helvetica); }
@font-face { font-family: Lucida Console;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Lucida Console;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Lucida Console); }
@font-face { font-family: Lucida Grande;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Lucida Grande;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Lucida Grande), local(Meiryo); }
@font-face { font-family: Monaco;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Monaco;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Monaco); }
@font-face { font-family: Open Sans;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Open Sans;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Open Sans); }
@font-face { font-family: OpenSansLight;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: OpenSansLight;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(OpenSansLight); }
@font-face { font-family: Palatino Linotype;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Palatino Linotype;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Palatino Linotype); }
@font-face { font-family: patregular;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: patregular;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(patregular); }
@font-face { font-family: Tahoma;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Tahoma;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Tahoma); }
@font-face { font-family: Times New Roman;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Times New Roman;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Times New Roman); }
@font-face { font-family: Trebuchet MS;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Trebuchet MS;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Trebuchet MS); }
/* FIXME: Verdanaで機能しない。何故?
	このページの「消費の検索」「カテゴリから探す」がMeiryoになってない。
	https://affiliate.amazon.co.jp/gp/associates/network/main.html */
@font-face { font-family: Verdana;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Verdana;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Verdana); }
@font-face { font-family: Yanone Kaffeesatz;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Yanone Kaffeesatz;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Yanone Kaffeesatz); }
/* FIXME: 小文字で書かないとLastPassのlogin前のpage等で機能しない。何故? */
@font-face { font-family: tahoma;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: tahoma;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(tahoma); }
@font-face { font-family: verdana;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: verdana;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(verdana); }
@font-face { font-family: helvetica;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: helvetica;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(helvetica); }

@font-face { font-family: monospace;		unicode-range: U+2E80-FFFF;			src: local('MeiryoKe_Gothic'), local(Meiryo); }
@font-face { font-family: monospace;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(monospace), local('MeiryoKe_Gothic'), local('MS Gothic'); }
@font-face { font-family: sans-serif;		unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: sans-serif;		unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(sans-serif), local(Meiryo); }

/*
 * generic fonts - これだと意図通りに置き換えられない。
 *		   (Wikipedia日本語版等)
 */
/*
@font-face { font-family: MS Sans Serif;		unicode-range: U+2E80-FFFF; src: local(Meiryo); }
@font-face { font-family: Microsoft Sans Serif;		unicode-range: U+2E80-FFFF; src: local(Meiryo); }
@font-face { font-family: MS Reference Sans Serif;	unicode-range: U+2E80-FFFF; src: local(Meiryo); }
*/

/*
 * 第3ルール: Arial Unicode MSの「日本語部分 Japanese glyphs」だけを置き換える。
 */
/*  unicode-range: U+3040-309F,*/	/* Hiragana 平仮名 */
/*		 U+30A0-30FF, */	/* Katakana 片仮名 */
/*		 U+4E00-9FFF; */	/* CJK Unified Ideographs 漢字*/
@font-face { font-family: Arial Unicode MS;	unicode-range: U+2E80-FFFF;			src: local(Meiryo); }
@font-face { font-family: Arial Unicode MS;	unicode-range: U+0-2E7F, U+10000-10FFFF;	src: local(Arial Unicode MS); }
