.dropdownMenu {
    min-width: 145px;
    position: absolute;
    padding: 6px;
    background: #fff;
    box-shadow: 0px 0px 19px hsl(0, 0%, 80%);
    z-index: 6000;
    white-space: nowrap;
}

.menuItem {
    padding: 12px 14px;
    cursor: pointer;
    font-size: 13px;
    color: #000;
}

.menuItem:not([disabled]):hover {
    background-color: hsl(205, 83%, 59%);
    color: #fff;
}

.menuItem[disabled] {
    color: hsl(0, 0%, 72%);
}

.menuItem[disabled]:hover {
    background-color: transparent;
    cursor: default;
}

.menuItemSeparator {
    background-color: hsl(0, 0%, 92%);
    display: block;
    height: 1px;
    vertical-align: middle;
    margin: 5px 12px;
}

.sbButton {
    color: hsl(0, 0%, 26%);
    -webkit-user-select: none;
    height: 35px;
    line-height: 35px;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}

.sbButton[data-type="2"] {
    text-transform: uppercase;
    color: hsla(0, 0%, 26%, 0.83);
    -webkit-user-select: none;
    height: 45px;
    line-height: 45px;
    padding: 0 13px 0 40px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    background-color: #fff;
    background-position-x: 12px;
    background-position-y: -10px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 400;
}

.sbButton[data-type="4"] {
    z-index: 600000;
    position: relative;
    color: #000;
    -webkit-user-select: none;
    height: 28px;
    line-height: 28px;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #eee;
}

.sbButton[disabled] {
    opacity: 0.6;
}

.sbButton[disabled][data-type="2"] {
    opacity: 0.6;
    cursor: default;
    background-position-y: -41px;
}

.sbButton[disabled][data-type="4"] {
    color: hsl(0, 0%, 65%) !important;
    background-color: transparent;
    cursor: default;
    opacity: 1;
}

.sbButton_mouseover {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.sbButton_mouseover[data-type="2"] {
    background-color: hsla(0, 0%, 0%, 0.07);
}

.sbButton_mouseover[data-type="4"] {
    background-color: #ddd;
}

.sbButton_onclick {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.sbButton_onclick[data-type="4"] {
    background-color: #ccc;
}

.sbButton_on {
    background-color: hsla(0, 0%, 100%, .25);
}

.sbButton_on[data-type="2"] {
    background-color: hsla(0, 0%, 0%, 0.07);
}

.sbButton_on[data-type="4"] {
    background-color: #ccc;
}

.invisible {
    display: none;
}

.visible {
    display: inline-block;
}

.invisible[data-type] {
    display: none;
}

.visible[data-type] {
    display: inline-block;
}
