.sessionsPanel_Root {
    position: relative;
    font-size: 12px;
    padding: 8px 0 20px;
    min-width: 50px;
    -webkit-user-select: none;
    outline: none;
}

.sessionsPanel_GroupHeader {
    padding: 15px 4px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: hsl(0, 0%, 40%);
}

.sessionsPanel_GroupHeader ~ .sessionsPanel_GroupHeader {
    padding-top: 38px;
}

.sessionsPanel_GroupHeader_Annotation {
    font-size: 11px;
    color: hsl(0, 0%, 62%);
    padding-left: 12px;
    top: -1px;
    position: relative;
}

.sessionsPanel_GroupFooter {
    margin-top: 4px;
    float: right;
    color: hsl(0, 0%, 54%);
    font-size: 10px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 23px;
    cursor: pointer;
    opacity: .7;
    letter-spacing: 1px;
}

.sessionsPanel_GroupFooter:hover {
    opacity: 1;
}

.sessionsPanel_GroupFooter_More {
    background-image: url(/images/do.gif);
}

.sessionsPanel_GroupFooter_Less {
    background-image: url(/images/upo.gif);
}

.sessionsPanel_GroupFooter_Hidden {
    display: none;
}

.sessionsPanel_SessionSummary {
    position: relative;
    cursor: pointer;
    margin-top: 8px;
    background: hsl(0, 0%, 94%);
    padding: 16px 19px 16px 17px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.09);
}

.fontClassic .sessionsPanel_SessionSummary {
    color: hsl(0, 0%, 30%);
}

.sessionsPanel_SessionSummary_SelectionTail,
.sessionsPanel_SessionSummary_SelectionHead {
    background: hsl(205, 83%, 59%);
    color: hsl(0, 0%, 100%) !important;
    font-weight: 400;
    border-color: hsl(205, 83%, 59%);
}

.sessionsPanel_SessionSummary_Caret {
    border: 5px solid hsl(0, 0%, 70%);
    padding: 11px 14px 12px 12px;
}

.sessionsPanel_SessionSummary_SelectionTail.sessionsPanel_SessionSummary_Caret,
.sessionsPanel_SessionSummary_SelectionHead.sessionsPanel_SessionSummary_Caret {
    border-color: hsl(205, 83%, 46%);
}

.sessionsPanel_SessionSummary_Blurred {
    background: hsl(0, 0%, 44%) !important;
    border-color: hsl(0, 0%, 44%) !important;
}

.sessionsPanel_SessionSummary_Hidden {
    display: none;
}

.sessionsPanel_SessionSummaryLabel {
    margin-right: 12px;
    padding-right: 5px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    font-size: 14px;
}

.sessionsPanel_SessionSummaryAnnotation {
    font-weight: 400;
    color: hsl(223, 26%, 56%);
    color: hsl(0, 0%, 57%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    height: 17px;
    line-height: 17px;
    padding-top: 5px;
}

.sessionsPanel_SessionSummaryDeleteGlyph {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 13px;
    background-size: 13px;
    height: 11px;
    opacity: 0;
    /*transition: opacity .25s linear;*/
    background-image: url(/images/xn.gif);
}

.sessionsPanel_SessionSummary_SelectionHead > .sessionsPanel_SessionSummaryDeleteGlyph,
.sessionsPanel_SessionSummary_SelectionTail > .sessionsPanel_SessionSummaryDeleteGlyph {
    background-image: url(/images/xs.gif);
}

.sessionsPanel_SessionSummary:hover > .sessionsPanel_SessionSummaryDeleteGlyph {
    opacity: 1;
}

.sessionsPanel_SessionSummary_Caret > .sessionsPanel_SessionSummaryDeleteGlyph {
    right: 3px;
    top: 3px;
}

.transitionedInvisibility {
    opacity: 0;
    transition: opacity .1s linear;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .sessionsPanel_GroupFooter_More {
        background-image: url(/images/retina/do.gif);
        background-size: 17px;
    }
    .sessionsPanel_GroupFooter_Less {
        background-image: url(/images/retina/upo.gif);
        background-size: 17px;
    }
    .sessionsPanel_SessionSummaryDeleteGlyph {
        background-image: url(/images/retina/xn.gif);
    }
    .sessionsPanel_SessionSummary_SelectionHead > .sessionsPanel_SessionSummaryDeleteGlyph,
    .sessionsPanel_SessionSummary_SelectionTail > .sessionsPanel_SessionSummaryDeleteGlyph {
        background-image: url(/images/retina/xs.gif);
    }
}
